img{
    width: 400px;
    height: 300px;
    
}
    header nav ul li {
        font-kerning: normal;
        text-align: right;
        display :inline-block
        
    }
    
    body{
        font-family: Courier ;
        background-color: rgb(164, 224, 252);
    } 
    h1{
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        text-align: center;
        background-color: coral;
    }
    #p2{
        font-family :Arial, Helvetica, sans-serif,
        

    }
    #p1{
        font-family: "Times New Roman", Times, serif;
        background-color: rgb(181, 240, 105);
    }
    #ul2{
        font-family: initial;
        font-size: large;
    }
    
    label{
        color: rgb(233, 15, 15);
    }
    h2{
        color: rgb(73, 117, 29);
        font-family: fantasy;
    }
    h3{
        font-family: serif;
    }